* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: absolute;
  top: 40%;
  left: 40%;
  background-color: black;
}
.two {
  background-color: white;
  width: 100%;
  min-width: 320px;
  padding: 20px 25px 60px;
  border-radius: 5px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.one .two .three h {
  font-size: 0.8rem;
}
.three {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  margin-bottom: 40px;
}
.two h1 {
  position: absolute;
  top: 20%;
  left: 19%;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.5px;
  margin-bottom: 10px;
}
.result {
  text-align: center;
}
.result-heading {
  font-size: 1rem;
}
.celsius-value {
  border-bottom: 2px solid black;
}
.degree-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.degree-field {
  display: flex;
  flex-direction: column;
  width: 40%;
}
label {
  font-size: 1rem;
  margin-bottom: 1px;
  margin-top: 3px;
}
input,
select {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  padding: 8px;
  margin-bottom: 15px;
}
#convertbtn {
  position: absolute;
  width: 90%;
  height: 10%;
  top: 85%;
  left: 5%;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
}
